body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    /*height: 160px;*/
    text-align: left;
    margin: 10px;
}
.headerCard {
    background-color: #f1f1f1;
    padding: 5px;
}

.headerCard h2 {
    font-size: 14px;
    margin: 0;
    color: #646464;
}

.headerCard p {
    font-size: 11px;
    margin: 0;
    color: #646464;
}

.avatar {
    display: inline;
    width: 78px;
    padding: 0 0px 0 10px;
    border-radius: 100%;
    height: 78px;
}

.question {
    display: inline-block;
    margin: 0 0 0 20px;
}
.question h3 {
    color: #646464;
    font-size: 17px;
}
.tabs li {
    list-style: none;
    display: inline-block;
    width: 46%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor:pointer;
}
.tabs li.active {
    background-color: #35A594;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

ul.panel li {
    list-style: none;
}

ul.panel {
    width: 50%;
    margin: auto;
}

.button {
    color: #fff;
    background: #35A594;
    display: inline-block;
    float: right;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    top: -13px;
    right: 11px;
    font-size: 13px;
  	cursor: pointer;
}

form button.button {
    margin: 21px 0 0;
}
ul.results li {
    list-style: none;
      border: 1px solid #ccc;
    margin: 0 0 10px;
    padding: 10px;
      position: relative;
}

span.badge {
    font-size: 11px;
    position: absolute;
    right: -84px;
    background: #64b787;
    color: #fff;
    padding: 10px;
    display: none;
}
li.active {
    border: #64b787 2px solid !important;
    background: rgba(100,183,185, 0.2);
}
span.badge.active {
	display:block;
}

ul.results {
    padding:0
}

.card {
    width: 60%;
    border: 1px solid #ccc;
    margin: 30px auto;
}

.card h3.center {
    text-align: center;
    background: #64b787;
    margin: 0;
    padding: 10px;
    color: #fff;
}

.card h4 {
    font-size: 15px;
    color: #646464;
    padding: 10px;
    margin: 0;
}

.new-question input.optionForm {
    width: 100%;
    height: 23px;
    margin: 10px 0;
}

form.new-question {
    padding: 19px;
}

.new-question button.button {
    position: initial;
    float: inherit;
}

.score {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px 0 10px 15px;
    padding: 10px;
    text-align: center;
}